Microsoft.Flow/flows/e6d35510-2e85-4712-b5ec-a0d527628350/definition.json
{"name":"6edd6aa9-ec14-4b07-9459-ad2b41e2479f","id":"/providers/Microsoft.Flow/flows/6edd6aa9-ec14-4b07-9459-ad2b41e2479f","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Accountlöschung (Fehler) - 3 - 2","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"1bdcf85b-1bb7-411f-bba6-4f2eda03e7c4","type":"User","tenantId":"0a3840e8-4a8b-4c29-94bc-9508fa58050c"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-08-31T13:21:33.0906169Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Auslöser":{"recurrence":{"frequency":"Month","interval":6,"startTime":"2021-05-01T09:00:00.000Z"},"metadata":{"operationMetadataId":"68e4c148-bae7-4ab1-bcf0-d6bd8401b7ca"},"type":"Recurrence"}},"actions":{"Zeitpunkt_der_Erstellung":{"runAfter":{},"metadata":{"operationMetadataId":"78a1c446-5e9e-4ee6-89df-7453d40a20df"},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@{utcNow()}","formatString":"d","sourceTimeZone":"GMT Standard Time","destinationTimeZone":"W. Europe Standard Time"},"description":"Zum Erstellen des Wintersemester bzw. Sommersemester Tag"},"Fehler_senden_an":{"runAfter":{"Zeitpunkt_der_Erstellung":["Succeeded"]},"metadata":{"operationMetadataId":"381196a7-b983-4e78-bcf3-8d0ef4baff28"},"type":"Compose","inputs":"Email eingeben"},"Letzter_Tag_im_letzten_Semester":{"runAfter":{"Jahr":["Succeeded"]},"metadata":{"operationMetadataId":"d98f26df-90e3-46a4-bb94-d01b3a852435"},"type":"InitializeVariable","inputs":{"variables":[{"name":"LetztesSemester","type":"string"}]}},"Switch_Monat":{"runAfter":{"Letzter_Tag_im_vorletzten_Semester":["Succeeded"]},"cases":{"Fall_Wintersemester":{"case":6,"actions":{"Setze_letztes_Semester_WS":{"runAfter":{},"type":"SetVariable","inputs":{"name":"LetztesSemester","value":"@{concat('WS',sub(outputs('Jahr'),1),'/',outputs('Jahr'))}"}},"Setze_vorletztes_Semester_SoSe":{"runAfter":{"Setze_letztes_Semester_WS":["Succeeded"]},"type":"SetVariable","inputs":{"name":"VorletztesSemester","value":"@{concat('SoSe',sub(outputs('Jahr'),1))}"}}}},"Fall_Sommersemester":{"case":11,"actions":{"Setze_letztes_Semester_SoSe":{"runAfter":{},"type":"SetVariable","inputs":{"name":"LetztesSemester","value":"@{concat('SoSe',outputs('Jahr'))}"}},"Setze_vorletztes_Semester_WS":{"runAfter":{"Setze_letztes_Semester_SoSe":["Succeeded"]},"type":"SetVariable","inputs":{"name":"VorletztesSemester","value":"@{concat('WS',sub(outputs('Jahr'),1),'/',outputs('Jahr'))}"}}}}},"default":{"actions":{"Email_Fehler_1_senden":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Fehler_senden_an')","emailMessage/Subject":"Fehler beim Löschen des Accounts","emailMessage/Body":"<p>Case (Monat 5 oder 10) beim Löschen nicht gefunden&nbsp;</p>"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Email_Fehler_1_senden":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"message":"Case nicht gefunden"}}}}},"expression":"@outputs('Monat')","metadata":{"operationMetadataId":"4c682d74-426c-4375-bcd0-95a05900490a"},"type":"Switch"},"Jahr":{"runAfter":{"Monat":["Succeeded"]},"metadata":{"operationMetadataId":"02da3aaa-19b9-47f0-bad9-9d044293c81b"},"type":"Compose","inputs":"@int(substring(split(body('Zeitpunkt_der_Erstellung'), '/')?[2], 2, 2))"},"Monat":{"runAfter":{"Fehler_senden_an":["Succeeded"]},"metadata":{"operationMetadataId":"496871c3-2273-44cc-8aec-d71f5532e22a"},"type":"Compose","inputs":"@int(split(body('Zeitpunkt_der_Erstellung'), '/')?[0])"},"Studentenliste_sperren_abfragen":{"runAfter":{"Switch_Monat":["Succeeded"]},"metadata":{"operationMetadataId":"61281cb8-d977-4037-91eb-f7af90c4a2ca"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://wgd5t.sharepoint.com/sites/Accountverwaltung","table":"422fa316-5698-4af4-9f94-aeca89f54ef7","$filter":"(Semester eq '@{variables('LetztesSemester')}') and (Nutzerangelegt eq '1') and (ausgelaufen eq '0')"},"authentication":"@parameters('$authentication')"}},"Letzter_Tag_im_vorletzten_Semester":{"runAfter":{"Letzter_Tag_im_letzten_Semester":["Succeeded"]},"metadata":{"operationMetadataId":"08273a2c-b4d4-4cc9-a780-89eed50facd8"},"type":"InitializeVariable","inputs":{"variables":[{"name":"VorletztesSemester","type":"string"}]}},"Je_Student_sperren":{"foreach":"@outputs('Studentenliste_sperren_abfragen')?['body/value']","actions":{"Sharepoint_Profil_deaktiviert_setzen":{"runAfter":{"Azureprofil_sperren":["Succeeded"]},"metadata":{"operationMetadataId":"ddb67ca2-236e-450d-879c-07a512bbaea7"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://wgd5t.sharepoint.com/sites/Accountverwaltung","table":"422fa316-5698-4af4-9f94-aeca89f54ef7","id":"@items('Je_Student_sperren')?['ID']","item/Title":"@items('Je_Student_sperren')?['Title']","item/Nutzerangelegt":true,"item/ausgelaufen":true},"authentication":"@parameters('$authentication')"}},"Email_an_Student_senden_1":{"runAfter":{"Sharepoint_Profil_deaktiviert_setzen":["Succeeded"]},"metadata":{"operationMetadataId":"4bff00c3-6cd9-4299-96f9-6219cac471fd"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Sharepoint_Profil_deaktiviert_setzen')?['body/Email']","emailMessage/Subject":"Accountsperrung","emailMessage/Body":"<p>***See English version below***<br>\n<br>\nHallo @{outputs('Sharepoint_Profil_deaktiviert_setzen')?['body/Vorname']} @{outputs('Sharepoint_Profil_deaktiviert_setzen')?['body/Nachname']} ,<br>\n<br>\nIhr MS365 Account @{outputs('Sharepoint_Profil_deaktiviert_setzen')?['body/MicrosoftE_x002d_Mail']} an der Professur für Wirtschaftsinformatik insb. Informationsmanagement wurde gesperrt. Innerhalb der nächsten 6 Monate wird der Account gelöscht, insofern keine Rückmeldung erfolgt.<br>\n<br>\nDiese E-Mail wurde automatisch generiert. Sollten Angaben fehlen, Probleme oder Rückfrage bestehen, können Sie sich unter Angabe ihres persönlichen Logins (@{outputs('Sharepoint_Profil_deaktiviert_setzen')?['body/MicrosoftE_x002d_Mail']}) an unseren technischen Support @{outputs('Fehler_senden_an')} wenden.<br>\n<br>\nViele Grüße<br>\nIhr WIIM-Team<br>\n<br>\n************************************************************<br>\n<br>\nHello @{outputs('Sharepoint_Profil_deaktiviert_setzen')?['body/Vorname']} @{outputs('Sharepoint_Profil_deaktiviert_setzen')?['body/Nachname']},<br>\n<br>\nyour MS365 account at the Chair of Information Systems esp. Information Management has been disabled. During next 6 months, the account will be deleted if you don't message the responsible person.<br>\n<br>\nThis e-mail was generated automatically. If any information is missing, or if you have any problems or further questions, you can contact our technical support support @{outputs('Fehler_senden_an')} stating your personal login (@{outputs('Sharepoint_Profil_deaktiviert_setzen')?['body/MicrosoftE_x002d_Mail']}).<br>\n<br>\nKind regards<br>\nYour WIIM-Team</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Get_user_profile_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"84aeb5ad-08b9-4c6d-aef7-75cb52f2d406"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@items('Je_Student_sperren')?['MicrosoftE_x002d_Mail']"},"authentication":"@parameters('$authentication')"}},"Azureprofil_sperren":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"307fdac3-cd90-4ce3-85ea-7718fd37179f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_azuread","connectionName":"shared_azuread","operationId":"UpdateUser"},"parameters":{"id":"@outputs('Get_user_profile_(V2)')?['body/id']","body/accountEnabled":false},"authentication":"@parameters('$authentication')"}},"Email_Fehler_2":{"runAfter":{"Get_user_profile_(V2)":["Failed"]},"metadata":{"operationMetadataId":"417286e4-6a90-43cd-8dde-1eb77b78ccae"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Fehler_senden_an')?['$']","emailMessage/Subject":"Fehler 2","emailMessage/Body":"<p>Der Dateneintrag @{items('Je_Student_sperren')?['MicrosoftE_x002d_Mail']} existiert ohne zugehörigen MS365 Account SP ID:@{outputs('Get_user_profile_(V2)')?['body/id']})</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Studentenliste_sperren_abfragen":["Succeeded"]},"metadata":{"operationMetadataId":"cca2355e-1f33-48db-b3fa-193d30bd2bb8"},"type":"Foreach"},"Je_Student_löschen":{"foreach":"@outputs('Studentenliste_löschen_abfragen')?['body/value']","actions":{"Studentenprofil_abfragen":{"runAfter":{},"metadata":{"operationMetadataId":"302fcf89-9756-4e21-91ae-0424b4e8858a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@items('Je_Student_löschen')?['MicrosoftE_x002d_Mail']"},"authentication":"@parameters('$authentication')"}},"Email_an_Student_senden":{"runAfter":{"Studentenprofil_Nutzer_angelegt_setzen":["Succeeded"]},"metadata":{"operationMetadataId":"ec7cb64d-085c-4432-a847-a02d9a0c1819"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Studentenprofil_Nutzer_angelegt_setzen')?['body/Email']","emailMessage/Subject":"Accountlöschung ","emailMessage/Body":"<p><em>***See English version below***</em><br>\n<br>\nHallo @{items('Je_Student_löschen')?['Vorname']} @{items('Je_Student_löschen')?['Nachname']},@{outputs('Studentenprofil_abfragen')?['body/id']}@{outputs('Studentenprofil_abfragen')?['body/id']}@{outputs('Studentenprofil_abfragen')?['body/id']}<br>\n<br>\nIhr MS365 Account @{items('Je_Student_löschen')?['MicrosoftE_x002d_Mail']} an der Professur für Wirtschaftsinformatik insb. Informationsmanagement wurde gelöscht.<br>\n<br>\nDiese E-Mail wurde automatisch generiert. Sollten Angaben fehlen, Probleme oder Rückfrage bestehen, können Sie sich unter Angabe ihres persönlichen Logins (@{items('Je_Student_löschen')?['MicrosoftE_x002d_Mail']}) an unseren technischen Support @{outputs('Fehler_senden_an')} wenden.<br>\n<br>\nViele Grüße<br>\nIhr WIIM-Team<br>\n<br>\n************************************************************<br>\n<br>\nHello @{items('Je_Student_löschen')?['Vorname']} @{items('Je_Student_löschen')?['Nachname']},<br>\n<br>\nyour MS365 account at the Chair of Information Systems esp. Information Management has been deleted.<br>\n<br>\nThis e-mail was generated automatically. If any information is missing, or if you have any problems or further questions, you can contact our technical support support @{outputs('Fehler_senden_an')} stating your personal login (@{items('Je_Student_löschen')?['MicrosoftE_x002d_Mail']}).<br>\n<br>\nKind regards<br>\nYour WIIM-Team</p>"},"authentication":"@parameters('$authentication')"},"description":"An nicht Microsoft Mail"},"Email_Fehler_3":{"runAfter":{"Studentenprofil_abfragen":["Failed"]},"metadata":{"operationMetadataId":"bed24de4-20f7-4107-9934-af8943749850"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Fehler_senden_an')","emailMessage/Subject":"Fehler beim Löschen eines Accounts","emailMessage/Body":"<p>Der Dateneintrag @{items('Je_Student_löschen')?['MicrosoftE_x002d_Mail']} existiert ohne zugehörigen MS365 Account SP ID:@{outputs('Studentenprofil_abfragen')?['body/id']})</p>"},"authentication":"@parameters('$authentication')"}},"Studentenprofil_Nutzer_angelegt_setzen":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"34feba2d-3d3f-41ca-bbaa-fe6ec5e80593"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://wgd5t.sharepoint.com/sites/Accountverwaltung","table":"422fa316-5698-4af4-9f94-aeca89f54ef7","id":"@items('Je_Student_löschen')?['ID']","item/Title":"@items('Je_Student_löschen')?['Title']","item/Nutzerangelegt":false,"item/ausgelaufen":true},"authentication":"@parameters('$authentication')"}},"HTTP":{"runAfter":{"Studentenprofil_abfragen":["Succeeded"]},"metadata":{"operationMetadataId":"366e09e4-8e92-402c-9229-9aca7c5d45ea"},"type":"Http","inputs":{"method":"DELETE","uri":"https://graph.microsoft.com/v1.0/","headers":{"ID":"@outputs('Studentenprofil_abfragen')?['body/id']"},"authentication":{"type":"ActiveDirectoryOAuth","tenant":"4dd27844-2258-49fd-ab7f-514b89c01048","audience":"fWO8Q~EQG7dMW7hw5UZX7hr3G0kdHFs-eG2H.cul","clientId":"4dd27844-2258-49fd-ab7f-514b89c01048","secret":"7f343319-e7ea-4167-80d2-685d37a4067b"}}}},"runAfter":{"Studentenliste_löschen_abfragen":["Succeeded"]},"metadata":{"operationMetadataId":"43095c85-f383-44da-a5c3-d5af0c656e98"},"type":"Foreach"},"Studentenliste_löschen_abfragen":{"runAfter":{"Switch_Monat":["Succeeded"]},"metadata":{"operationMetadataId":"1caba5cf-4883-4304-a345-932adf3a88ca"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://wgd5t.sharepoint.com/sites/Accountverwaltung","table":"422fa316-5698-4af4-9f94-aeca89f54ef7","$filter":"(Semester eq '@{variables('VorletztesSemester')}') and (Nutzerangelegt eq '1') and (ausgelaufen eq '1')","$top":5000},"authentication":"@parameters('$authentication')"}}}},"connectionReferences":{"shared_office365":{"connectionName":"108c7fd7addd42b9800d32e73c5b0624","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"83952e5396974eedb78346d71fcb4220","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365users":{"connectionName":"417cc355d3b74808911019934a0abc6f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"},"shared_azuread":{"connectionName":"shared-azuread-924d1f9b-9547-47a0-8c9c-64453f6ad60b","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_azuread","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}